body {
    font-size: 1.5em;
}
/* это стили для header */
#header {
    padding: 1.26em 0;
    margin-bottom: 1.26em;
}
#header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.26em;
    line-height: 1;
}
/* это стили для меню, то что в header */
#menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
}
#menu li {
    padding: 0.315em 0.63em;
}
#menu a {
    display: block;
    padding: 0.315em 1.26em;
    text-decoration: none;
    text-transform: uppercase;
    background: #ccc;
    color: #000;
    transition: all 0.3s;
    border-radius: 0.315em;
}
/* это ховерное состояние пунктов меню */
#menu a:hover {
    box-shadow: 0.126em 0.126em 0.315em 0 rgba(0,0,0,0.5), inset 0.126em 0.126em 0.315em 0 rgba(0,0,0,0.3);
}
/* это центрирующий контейнер */
.container {
    max-width: 56.7em;
    margin: 0 auto;
    padding: 0 0.945em;
}
.list li {
    list-style-type: none; /* Убираем маркеры */
   }
.list li:first-child {/* Делаем первую строчку зеленым текстом */
    color:green;
}
.list li:nth-child(even) {/* Делаем четные элементы размером 20px */
    font-size: 1.26em;
}
.list li:nth-child(odd) {/* Делаем нечетные элементы размером 18px */
    font-size: 1.134em;
}
.list li:nth-child(3n+1) {/*Выделяем строчки желтым начиная с первой*/
    background-color: yellow;
}
a {/* Убирает подчеркивание для ссылок */
    text-decoration: none; 
   }
a:hover { 
    text-decoration: underline; /* Добавляем подчеркивание при наведении курсора на ссылку */
    color: red; /* Ссылка красного цвета */
}
.list li empty {/* Убираем маркеры у списка */
    display: none;
}
.list li:before {/* Добавляем в качестве маркера символ "-" */
    content: "-";
}
.tasks h3:first-child {/* Делаем первый элемент розовым*/
    color: pink;
}
p:nth-child(3){/*Делаем третий элемент серым*/
    color: grey;
}
div:nth-child(5){/*Делаем пятый элемент красным*/
    color: red;
}
p:nth-child(7){/*Делаем седьмой элемент зеленым*/
    color: green;
}
p:nth-child(8){/*Делаем восьмой элемент желтым*/
    color: yellow;
}